@using Microsoft.AspNetCore.Mvc.Localization
@using dotnet_microservices_course.Localization
@inject IHtmlLocalizer<dotnet_microservices_courseResource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
